@import url(https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Muli:300,300i,400,600,600i,700,700i,800,800i,900,900i&display=swap&display=swap);





body {
  font-family: Muli;
}
.display-1 {
  font-family: 'Nunito', sans-serif;
  font-size: 5.37rem;
}
.display-1 > .mbr-iconfont {
  font-size: 8.592rem;
}
.display-2 {
  font-family: 'Nunito', sans-serif;
  font-size: 3rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Nunito', sans-serif;
  font-size: 1.75rem;
  font-weight: 900;
}
.display-5 > .mbr-iconfont {
  font-size: 2.8rem;
}
.display-7 {
  font-family: 'Muli', sans-serif;
  font-size: 1.1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.76rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.296rem;
    font-size: calc( 2.5295rem + (5.37 - 2.5295) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.5295rem + (5.37 - 2.5295) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.4rem;
    font-size: calc( 1.2625rem + (1.75 - 1.2625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.2625rem + (1.75 - 1.2625) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.7rem 2.7rem;
  border-radius: 35px;
}
.btn-sm {
  padding: 0.5rem 1.5rem;
  border-radius: 0px;
}
.btn-md {
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.btn-lg {
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.bg-primary {
  background-color: #ffc85b !important;
}
.bg-success {
  background-color: #00b15c !important;
}
.bg-info {
  background-color: #12265a !important;
}
.bg-warning {
  background-color: #ffc85b !important;
}
.bg-danger {
  background-color: #444444 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #ffc85b !important;
  border-color: #ffc85b !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #45b3df !important;
  border-color: #45b3df !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #45b3df !important;
  border-color: #45b3df !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #45b3df !important;
  border-color: #45b3df !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #45b3df !important;
  border-color: #45b3df !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #45b3df !important;
  border-color: #45b3df !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #12265a !important;
  border-color: #12265a !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #45b3df !important;
  border-color: #45b3df !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #45b3df !important;
  border-color: #45b3df !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #00b15c !important;
  border-color: #00b15c !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #45b3df !important;
  border-color: #45b3df !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #45b3df !important;
  border-color: #45b3df !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #ffc85b !important;
  border-color: #ffc85b !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #45b3df !important;
  border-color: #45b3df !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #45b3df !important;
  border-color: #45b3df !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #444444 !important;
  border-color: #444444 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #45b3df !important;
  border-color: #45b3df !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #45b3df !important;
  border-color: #45b3df !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #000000 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #000000 !important;
  background-color: #45b3df !important;
  border-color: #45b3df !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #000000 !important;
  background-color: #45b3df !important;
  border-color: #45b3df !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #45b3df !important;
  border-color: #45b3df !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #45b3df !important;
  border-color: #45b3df !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #ffc85b;
  color: #ffc85b !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #5b3c00 !important;
  background-color: #ffc85b;
  border-color: #ffc85b;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #5b3c00 !important;
  background-color: #ffc85b !important;
  border-color: #ffc85b !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #45b3df;
  color: #45b3df !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff !important;
  background-color: #45b3df;
  border-color: #45b3df;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #45b3df !important;
  border-color: #45b3df !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #12265a;
  color: #12265a !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff !important;
  background-color: #12265a;
  border-color: #12265a;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #12265a !important;
  border-color: #12265a !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #00b15c;
  color: #00b15c !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff !important;
  background-color: #00b15c;
  border-color: #00b15c;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #00b15c !important;
  border-color: #00b15c !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #ffc85b;
  color: #ffc85b !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #5b3c00 !important;
  background-color: #ffc85b;
  border-color: #ffc85b;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #5b3c00 !important;
  background-color: #ffc85b !important;
  border-color: #ffc85b !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #444444;
  color: #444444 !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff !important;
  background-color: #444444;
  border-color: #444444;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #333333;
  color: #333333 !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff !important;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff !important;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #ffc85b !important;
}
.text-secondary {
  color: #45b3df !important;
}
.text-success {
  color: #00b15c !important;
}
.text-info {
  color: #12265a !important;
}
.text-warning {
  color: #ffc85b !important;
}
.text-danger {
  color: #444444 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a,
a:hover {
  color: #12265a;
  font-weight: 900;
  transition: 0.4s;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #ffc85b !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #ffc85b !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #00b15c !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #ffc85b !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #ffc85b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #444444 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #e6e6e6 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #1a1a1a !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #12265a;
}
.alert-warning {
  background-color: #ffc85b;
}
.alert-danger {
  background-color: #444444;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffc85b;
  border-color: #ffc85b;
  color: #754d00;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #31ff9c;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #2753c4;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b7b7b7;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
#scrollToTop a {
  background: #ffc85b;
}
#scrollToTop a:after {
  content: '';
  position: absolute;
  top: -7px;
  left: -7px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 2px dashed #ffc85b;
  animation: spin_left 5s linear infinite;
  animation-play-state: paused;
}
#scrollToTop a:hover::after {
  animation-play-state: running;
}
#scrollToTop a i:after {
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}
.mbr-arrow {
  background-color: #444444;
}
.mbr-arrow a {
  color: #ffffff;
}
.form-control {
  font-family: 'Muli', sans-serif;
  font-size: 1.1rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.76rem;
}
blockquote {
  border-color: #ffc85b;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ffc85b;
  color: #000000;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ffc85b;
  border-bottom-color: #ffc85b;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ffc85b !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #45b3df !important;
  box-shadow: none !important;
}
.soc-item:hover::after {
  opacity: 1;
  visibility: visible;
  animation-play-state: running;
}
.soc-item::after {
  opacity: 0;
  transition: all .3s ease;
  position: absolute;
  content: '';
  height: calc(122%);
  width: calc(122%);
  border-width: 2px;
  box-sizing: border-box;
  border-style: dashed;
  top: -4px;
  left: -4px;
  border-radius: inherit;
  animation: spin_right 5s linear infinite;
  animation-play-state: paused;
}
@keyframes spin_right {
  0% {
    transform: rotate(-360deg);
  }
}
.line-bg-warning {
  background-size: 100% 0.521em;
  display: inline;
  margin: 0 -12px;
  padding: 0 12px;
  background-image: linear-gradient(to top, rgba(255, 200, 91, 0.5), rgba(255, 200, 91, 0.5));
  background-repeat: no-repeat;
  background-position: 0% 74%;
}
.line-bg-primary {
  display: inline;
  margin: 0 -12px;
  padding: 0 12px;
  background-image: linear-gradient(to top, rgba(255, 200, 91, 0.5), rgba(255, 200, 91, 0.5));
  background-size: 100% 0.521em;
  background-repeat: no-repeat;
  background-position: 0% 74%;
}
.cid-rHd4LPs6LH .navbar-dropdown {
  position: relative!important;
  top: 0;
  left: 0;
  padding: .5rem 1rem;
}
.cid-rHd4LPs6LH .navbar {
  display: flex;
  flex-wrap: nowrap;
  background: #ffffff;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-rHd4LPs6LH .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-rHd4LPs6LH a {
  font-style: normal;
}
.cid-rHd4LPs6LH .show {
  overflow: visible;
}
.cid-rHd4LPs6LH .dropdown-menu {
  border-radius: 20px;
  min-width: 250px;
}
.cid-rHd4LPs6LH .dropdown-item:active {
  background-color: transparent;
}
.cid-rHd4LPs6LH .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rHd4LPs6LH .nav-item a {
  display: -webkit-flex;
  align-items: center;
  padding: 0.7rem 0 !important;
  margin: 0rem 1.2rem !important;
  -webkit-align-items: center;
}
.cid-rHd4LPs6LH .nav-item:focus,
.cid-rHd4LPs6LH .nav-link:focus {
  outline: none;
}
.cid-rHd4LPs6LH .btn {
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
  position: relative;
  border: 1px solid #7a7b7e;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0;
}
.cid-rHd4LPs6LH .btn .mbr-iconfont {
  font-size: 1.5rem;
}
.cid-rHd4LPs6LH .menu-logo .navbar-brand {
  display: flex;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rHd4LPs6LH .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rHd4LPs6LH .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rHd4LPs6LH .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rHd4LPs6LH .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rHd4LPs6LH .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rHd4LPs6LH .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rHd4LPs6LH .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rHd4LPs6LH .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rHd4LPs6LH .dropdown .dropdown-menu {
  background: transparent;
  display: none;
  position: absolute;
  padding-top: 4.5rem;
  padding-bottom: 2rem;
  text-align: left;
}
.cid-rHd4LPs6LH .dropdown .dropdown-menu > .dropdown > .dropdown-item,
.cid-rHd4LPs6LH .dropdown .dropdown-menu > .dropdown-item {
  font-weight: 900;
  font-family: 'Nunito', sans-serif;
  width: auto;
  padding: 4px 30px !important;
  margin: 0 !important;
}
.cid-rHd4LPs6LH .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rHd4LPs6LH .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rHd4LPs6LH .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: none;
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rHd4LPs6LH button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
  position: absolute;
  left: 1rem;
}
.cid-rHd4LPs6LH button.navbar-toggler:focus {
  outline: none;
}
.cid-rHd4LPs6LH button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rHd4LPs6LH button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rHd4LPs6LH button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rHd4LPs6LH button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rHd4LPs6LH button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rHd4LPs6LH nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rHd4LPs6LH nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rHd4LPs6LH nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rHd4LPs6LH nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rHd4LPs6LH .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rHd4LPs6LH .collapsed .btn {
  display: -webkit-flex;
}
.cid-rHd4LPs6LH .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rHd4LPs6LH .collapsed .navbar-collapse.collapsing,
.cid-rHd4LPs6LH .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rHd4LPs6LH .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rHd4LPs6LH .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rHd4LPs6LH .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rHd4LPs6LH .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rHd4LPs6LH .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rHd4LPs6LH .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rHd4LPs6LH .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rHd4LPs6LH .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-rHd4LPs6LH .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: 87.8125vh;
  }
}
.cid-rHd4LPs6LH .collapsed button.navbar-toggler {
  display: block;
}
.cid-rHd4LPs6LH .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rHd4LPs6LH .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rHd4LPs6LH .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rHd4LPs6LH .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rHd4LPs6LH .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rHd4LPs6LH .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-rHd4LPs6LH.navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rHd4LPs6LH img {
    height: 3.8rem !important;
  }
  .cid-rHd4LPs6LH .btn {
    display: -webkit-flex;
  }
  .cid-rHd4LPs6LH button.navbar-toggler {
    display: block;
  }
  .cid-rHd4LPs6LH .navbar-brand {
    margin-left: 3.5rem !important;
  }
  .cid-rHd4LPs6LH .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rHd4LPs6LH .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rHd4LPs6LH .navbar-collapse.collapsing,
  .cid-rHd4LPs6LH .navbar-collapse.show {
    display: block !important;
  }
  .cid-rHd4LPs6LH .navbar-collapse.collapsing .navbar-nav,
  .cid-rHd4LPs6LH .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rHd4LPs6LH .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rHd4LPs6LH .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rHd4LPs6LH .navbar-collapse.collapsing .navbar-buttons,
  .cid-rHd4LPs6LH .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rHd4LPs6LH .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rHd4LPs6LH .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rHd4LPs6LH .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rHd4LPs6LH .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rHd4LPs6LH .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rHd4LPs6LH .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (max-width: 767px) {
  .cid-rHd4LPs6LH .navbar-collapse {
    max-height: 100vh !important;
  }
  .cid-rHd4LPs6LH .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    color: #fff;
  }
  .cid-rHd4LPs6LH .nav-link {
    justify-content: start!important;
  }
  .cid-rHd4LPs6LH .navbar.opened {
    height: 100%;
  }
  .cid-rHd4LPs6LH .navbar-toggleable-sm {
    width: 100%!important;
  }
  .cid-rHd4LPs6LH .dropdown-menu {
    box-shadow: none !important;
    background: #313131 !important;
  }
}
@media (min-width: 767px) {
  .cid-rHd4LPs6LH .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rHd4LPs6LH .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rHd4LPs6LH .link {
  color: #12265a;
  font-weight: 900;
  font-family: 'Nunito', sans-serif;
  transition: 0.4s;
}
.cid-rHd4LPs6LH .span-link {
  padding: 0 0.5rem;
}
.cid-rHd4LPs6LH .btn1::before {
  content: '';
  position: absolute;
  top: -7px;
  left: -7px;
  width: 52px;
  height: 52px;
  border: 2px dashed #ffc85b;
  border-radius: 30px;
  animation: spin_left 5s linear infinite;
  animation-play-state: paused;
}
.cid-rHd4LPs6LH .btn2::before {
  content: '';
  position: absolute;
  top: -7px;
  left: -7px;
  width: 52px;
  height: 52px;
  border: 2px dashed #ffc85b;
  border-radius: 30px;
  animation: spin_left 5s linear infinite;
  animation-play-state: paused;
}
.cid-rHd4LPs6LH .btn:hover::before {
  animation-play-state: running;
}
@keyframes spin_left {
  0% {
    transform: rotate(360deg);
  }
}
.cid-rHd4LPs6LH .navbar-caption {
  color: #12265a;
  font-weight: 900;
  font-family: 'Nunito', sans-serif;
}
.cid-rHd4LPs6LH .navbar-caption:hover {
  color: #ffc85b;
}
.cid-rHd4LPs6LH .container-fluid {
  max-width: 1200px;
}
@media (max-width: 992px) {
  .cid-rHd4LPs6LH .navbar-collapse.show {
    overflow: visible !important;
  }
  .cid-rHd4LPs6LH .dropdown-item {
    color: #fff;
  }
  .cid-rHd4LPs6LH .nav-item.open .nav-link,
  .cid-rHd4LPs6LH .link:hover {
    color: #fff;
    background: #ffc85b;
    border-radius: 5px;
  }
  .cid-rHd4LPs6LH .link:active {
    color: #fff !important;
  }
  .cid-rHd4LPs6LH .logo-name {
    margin-top: 0.5rem;
  }
  .cid-rHd4LPs6LH .navbar-brand {
    justify-content: center;
  }
  .cid-rHd4LPs6LH .mbr-section-btn {
    order: 1;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .cid-rHd4LPs6LH .nav-item a {
    margin: 0 0.5rem !important;
  }
  .cid-rHd4LPs6LH .navbar-nav .nav-link {
    color: #fff;
    display: inline-block;
  }
  .cid-rHd4LPs6LH .navbar-collapse {
    background-color: #313131;
    order: 2;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .cid-rHd4LPs6LH .navbar {
    height: 90px;
  }
  .cid-rHd4LPs6LH .menu-logo {
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .cid-rHd4LPs6LH .btn1 {
    display: none;
  }
  .cid-rHd4LPs6LH .mbr-section-title {
    color: #fff;
  }
  .cid-rHd4LPs6LH .container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .cid-rHd4LPs6LH .navbar-toggleable-sm {
    background-color: #313131;
  }
  .cid-rHd4LPs6LH .span-link {
    color: #fff;
  }
  .cid-rHd4LPs6LH .navbar-collapse.show .navbar-nav {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .cid-rHd4LPs6LH .dropdown-item {
    color: #12265a;
  }
  .cid-rHd4LPs6LH .nav-item.open .nav-link,
  .cid-rHd4LPs6LH .link:hover {
    color: #12265a !important;
    background: #ffc85b;
    border-radius: 5px;
  }
  .cid-rHd4LPs6LH .logo-name {
    margin-top: 2rem;
  }
  .cid-rHd4LPs6LH .navbar-collapse {
    justify-content: space-between;
  }
  .cid-rHd4LPs6LH .navbar-nav {
    margin-left: auto;
    margin-right: auto;
  }
  .cid-rHd4LPs6LH .container-fluid {
    padding: 0 1rem;
  }
  .cid-rHd4LPs6LH .dropdown-menu::after {
    content: '';
    position: absolute;
    top: 4rem;
    bottom: 1.4rem;
    left: 10px;
    right: 10px;
    border: 2px dashed #ffc85b;
    border-radius: 10px;
    z-index: 0;
    pointer-events: none;
  }
  .cid-rHd4LPs6LH .dropdown-menu::before {
    content: "";
    position: absolute;
    top: 3.4rem;
    bottom: 0.8rem;
    left: 0px;
    right: 0px;
    border-radius: 10px;
    background: #ffffff;
    z-index: -1;
  }
}
.cid-rHd4LPs6LH .mbr-section-title {
  font-weight: 900;
}
.cid-rHd4LPs6LH .mbr-section-subtitle {
  color: #fa9db7;
}
.cid-rHd4LPs6LH .mbr-section-btn {
  display: flex;
}
.cid-rHd4LPs6LH .dropdown-item:hover {
  color: #ffc85b !important;
}
.cid-rHd4LPs6LH .btn-primary:hover {
  background-color: #ffc85b !important;
  border-color: #ffc85b !important;
}
.cid-rHd4LPs6LH .btn-warning:hover {
  background-color: #ffc85b !important;
  border-color: #ffc85b !important;
}
.cid-rHd4LPs6LH .dropdown-toggle::after {
  content: '+';
  border: none !important;
  top: 25% !important;
}
.cid-rHd4LPs6LH .nav-item a {
  padding: 0 0.5rem !important;
}
.cid-rHd4LPs6LH .nav-link {
  padding: 0rem 0.5rem !important;
}
.cid-rHd4LPs6LH .mbr-iconfont {
  margin: 0;
}
.cid-rHd4LPs6LH .btn-primary:focus {
  background-color: #ffc85b !important;
  border-color: #ffc85b !important;
}
.cid-rHd4LPs6LH .btn-warning:focus {
  background-color: #ffc85b !important;
  border-color: #ffc85b !important;
}
.cid-rHd4LPs6LH .navbar-dropdown.navbar-short .navbar-brand {
  padding-top: .3125rem;
  padding-bottom: .3125rem;
}
.cid-rHd4LPs6LH .navbar-dropdown .navbar-logo {
  margin-right: 0.8rem;
}
.cid-rGu1lE6miU {
  padding-top: 180px;
  padding-bottom: 180px;
  background-image: url("../../../assets/images/mbr-1920x1280.jpg");
}
@media (max-width: 767px) {
  .cid-rGu1lE6miU {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.cid-rGu1lE6miU h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  position: relative;
  color: #fff;
}
.cid-rGu1lE6miU .btn {
  margin: 0.2rem!important;
}
@media (max-width: 767px) {
  .cid-rGu1lE6miU .container-fluid {
    padding: 0 1rem;
  }
  .cid-rGu1lE6miU p {
    color: #343549;
  }
}
@media (min-width: 767px) {
  .cid-rGu1lE6miU .container-fluid {
    padding: 0 1.8rem;
  }
}
.cid-rGu1lE6miU .mbr-section-subtitle span {
  background-color: #79c8e8;
  padding: 0 1rem;
  border-radius: 5px;
  display: inline-block;
}
.cid-rGu1lE6miU h1 {
  margin-left: -4px;
  margin-bottom: 0.1rem;
}
.cid-rGu1lE6miU p {
  margin-bottom: 1.3rem;
}
.cid-rGu1lE6miU .svg-1 {
  position: absolute;
  bottom: 0;
}
.cid-rGu1lE6miU .svg-1 path {
  fill: #ffffff;
}
.cid-rGu1lE6miU .container-fluid {
  max-width: 1200px;
}
.cid-rGu1lE6miU .mbr-arrow {
  position: absolute;
  z-index: 1;
}
.cid-rGu1lE6miU H1 {
  color: #ffc85b;
}
.cid-rHdTXcRzxn {
  background-color: #ffffff;
}
.cid-rHdTXcRzxn .text-top {
  color: #767676;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.cid-rHdTXcRzxn .card {
  margin-bottom: 1rem;
}
.cid-rHdTXcRzxn .row {
  justify-content: center;
}
.cid-rHdTXcRzxn .card-title {
  color: #12265a;
  transition: 0.5s;
}
.cid-rHdTXcRzxn .card-title:hover {
  color: #ffc85b;
}
.cid-rHdTXcRzxn img {
  width: 80px;
}
.cid-rHdTXcRzxn .item-image {
  margin-right: 1rem;
}
.cid-rHdTXcRzxn .container-fluid {
  max-width: 1200px;
}
@media (max-width: 767px) {
  .cid-rHdTXcRzxn {
    padding-top: 30px;
    padding-bottom: 3px;
  }
  .cid-rHdTXcRzxn .container-fluid {
    padding: 0 1rem;
  }
  .cid-rHdTXcRzxn .container {
    padding: 0rem;
  }
  .cid-rHdTXcRzxn .col-12 {
    padding: 0;
  }
  .cid-rHdTXcRzxn .mbr-section-title {
    margin: 0;
    margin-left: 0px;
    margin-right: 0px;
  }
  .cid-rHdTXcRzxn .card {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .cid-rHdTXcRzxn .card-title {
    margin-top: 2rem;
  }
}
@media (min-width: 767px) {
  .cid-rHdTXcRzxn {
    padding-top: 45px;
    padding-bottom: 15px;
  }
  .cid-rHdTXcRzxn .container-fluid {
    padding: 0 1.5rem;
  }
  .cid-rHdTXcRzxn .mbr-section-title {
    margin-left: -12px;
    margin-right: -12px;
  }
  .cid-rHdTXcRzxn .card {
    display: flex;
    flex-direction: row;
  }
}
.cid-rHdTXcRzxn .container {
  margin-bottom: 1.5rem;
}
.cid-rH3cvyUC1g {
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #f2f6ff;
}
@media (max-width: 767px) {
  .cid-rH3cvyUC1g {
    padding-top: 20px;
    padding-bottom: 40px;
  }
}
.cid-rH3cvyUC1g img {
  width: 100%;
  border-radius: 50%;
}
.cid-rH3cvyUC1g h3 {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .cid-rH3cvyUC1g .img-wrapper {
    display: none;
  }
  .cid-rH3cvyUC1g .img-wrapper-2 {
    display: none;
  }
  .cid-rH3cvyUC1g .container-fluid {
    padding: 0 1rem;
  }
  .cid-rH3cvyUC1g .content-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
  }
  .cid-rH3cvyUC1g .content-row-2 {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
  .cid-rH3cvyUC1g .content-row-3 {
    margin-top: 1.8rem;
  }
  .cid-rH3cvyUC1g .content-row-4 {
    margin-top: 2rem;
  }
  .cid-rH3cvyUC1g .imageContainer {
    display: flex;
    justify-content: center;
  }
  .cid-rH3cvyUC1g .imageContainer-2 {
    display: flex;
    justify-content: center;
  }
  .cid-rH3cvyUC1g .right-wrapper {
    text-align: left;
    padding-left: 4rem;
  }
  .cid-rH3cvyUC1g .left-wrapper {
    text-align: left;
    padding-left: 4rem;
  }
  .cid-rH3cvyUC1g .mbr-section-title {
    text-align: left;
  }
  .cid-rH3cvyUC1g .content-row:hover .tlv__pointer::after {
    transform: scale(1);
  }
  .cid-rH3cvyUC1g .content-row-2:hover .tlv__pointer-2::after {
    transform: scale(1);
  }
  .cid-rH3cvyUC1g .tlv__pointer {
    opacity: 1;
    transform: translateX(0);
    order: 2;
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 3px solid #ffc85b;
    background: #ffffff;
    top: -100px;
    left: 8px;
  }
  .cid-rH3cvyUC1g .tlv__pointer::after {
    z-index: 1;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    transform: scale(0);
    content: '';
    position: absolute;
    background: #ffc85b;
    transition: 0.5s;
    left: 5px;
    bottom: 5px;
  }
  .cid-rH3cvyUC1g .tlv__pointer-2 {
    opacity: 1;
    transform: translateX(0);
    order: 2;
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 3px solid #ffc85b;
    background: #ffffff;
    top: 50px;
    left: 8px;
  }
  .cid-rH3cvyUC1g .tlv__pointer-2::after {
    z-index: 1;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    transform: scale(0);
    content: '';
    position: absolute;
    background: #ffc85b;
    transition: 0.5s;
    left: 5px;
    bottom: 5px;
  }
  .cid-rH3cvyUC1g .container-fluid::before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 20px;
    width: 4px;
    height: 100%;
    background: #ffc85b;
  }
  .cid-rH3cvyUC1g .tlv__item-first {
    position: relative;
    z-index: 1;
    left: -52px;
    width: 18px;
    height: 18px;
    background: #ffc85b;
    transform: rotate(45deg);
    top: -20px;
  }
  .cid-rH3cvyUC1g .tlv__item-first2 {
    position: absolute;
    z-index: 1;
    left: 13px;
    width: 18px;
    height: 18px;
    background: #ffc85b;
    transform: rotate(45deg);
    bottom: -20px;
  }
}
@media (min-width: 767px) {
  .cid-rH3cvyUC1g .right-wrapper {
    text-align: right;
    padding-right: 5rem;
  }
  .cid-rH3cvyUC1g .content-row {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .cid-rH3cvyUC1g .content-row-2 {
    margin-top: 3.5rem;
  }
  .cid-rH3cvyUC1g .content-row-3 {
    margin-top: 3.5rem;
  }
  .cid-rH3cvyUC1g .content-row-4 {
    margin-top: 3.5rem;
  }
  .cid-rH3cvyUC1g .content-row:hover .tlv__pointer::after {
    transform: scale(1);
  }
  .cid-rH3cvyUC1g .content-row-2:hover .tlv__pointer-2::after {
    transform: scale(1);
  }
  .cid-rH3cvyUC1g .img-wrapper {
    margin-left: 43px;
  }
  .cid-rH3cvyUC1g .tlv__pointer {
    opacity: 1;
    transform: translateX(0);
    order: 2;
    position: relative;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 3px solid #ffc85b;
    background: #ffffff;
    top: 0px;
    left: -290px;
  }
  .cid-rH3cvyUC1g .tlv__pointer::before {
    content: '';
    top: 8px;
    width: 47px;
    height: 3px;
    left: 21px;
    position: absolute;
    background: #ffc85b;
  }
  .cid-rH3cvyUC1g .tlv__pointer::after {
    z-index: 1;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    transform: scale(0);
    content: '';
    position: absolute;
    background: #ffc85b;
    transition: 0.5s;
    left: 5px;
    bottom: 5px;
  }
  .cid-rH3cvyUC1g .tlv__pointer-2 {
    opacity: 1;
    transform: translateX(0);
    order: 2;
    position: relative;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 3px solid #ffc85b;
    background: #ffffff;
    top: 100px;
    right: -30px;
  }
  .cid-rH3cvyUC1g .tlv__pointer-2::before {
    content: '';
    top: 8px;
    width: 47px;
    height: 3px;
    left: -50px;
    position: absolute;
    background: #ffc85b;
  }
  .cid-rH3cvyUC1g .tlv__pointer-2::after {
    z-index: 1;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    transform: scale(0);
    content: '';
    position: absolute;
    background: #ffc85b;
    transition: 0.5s;
    left: 5px;
    bottom: 5px;
  }
  .cid-rH3cvyUC1g .container-fluid::before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 50%;
    width: 4px;
    height: 100%;
    background: #ffc85b;
  }
  .cid-rH3cvyUC1g .tlv__item-first {
    position: absolute;
    z-index: 1;
    top: -54px;
    right: -11px;
    width: 18px;
    height: 18px;
    background: #ffc85b;
    transform: rotate(45deg);
  }
  .cid-rH3cvyUC1g .left-wrapper {
    text-align: left;
    padding-left: 5rem;
  }
  .cid-rH3cvyUC1g .img-wrapper-2 {
    margin-right: 16px;
  }
  .cid-rH3cvyUC1g .tlv__item-first2 {
    position: absolute;
    z-index: 1;
    left: 49%;
    width: 18px;
    height: 18px;
    background: #ffc85b;
    transform: rotate(45deg);
    bottom: -18px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-rH3cvyUC1g .tlv__item-first2 {
    left: 49.5%;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .cid-rH3cvyUC1g .tlv__item-first2 {
    left: 49.5%;
  }
}
@media (min-width: 1400px) {
  .cid-rH3cvyUC1g .tlv__item-first2 {
    left: 49.6%;
  }
}
.cid-rH3cvyUC1g .inner-dashed-border {
  stroke: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  animation: dashed_border_running 20s linear infinite both;
  animation-play-state: paused;
  stroke-width: 2;
  stroke-dasharray: 9, 5;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  fill: none;
  transition: 0.4s;
}
.cid-rH3cvyUC1g .button-svg:hover .inner-dashed-border {
  animation-play-state: running;
  stroke: #ffffff;
}
@keyframes dashed_border_running {
  100% {
    stroke-dashoffset: -1000;
  }
}
.cid-rH3cvyUC1g .svg1 {
  position: absolute;
  padding: 2px;
}
.cid-rH3cvyUC1g .svg1 rect {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}
.cid-rH3cvyUC1g .mbr-section-title {
  color: #45b3df;
}
.cid-rH3cvyUC1g .content-row {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cid-rH3cvyUC1g .content-row-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cid-rH3cvyUC1g .imageContainer {
  position: relative;
  display: flex;
  align-items: center;
}
.cid-rH3cvyUC1g .imageContainer-2 {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.cid-rH3cvyUC1g .img-wrapper {
  width: 220px;
  height: 220px;
  position: relative;
  border: 2px solid #ffc85b;
  border-radius: 50%;
  transition: 0.5s;
}
.cid-rH3cvyUC1g .img-wrapper-2 {
  width: 220px;
  height: 220px;
  position: relative;
  border: 2px solid #ffc85b;
  border-radius: 50%;
  transition: 0.5s;
}
.cid-rH3cvyUC1g .content-row:hover .img-wrapper {
  padding: 12px;
  border: 2px dashed #ffc85b;
}
.cid-rH3cvyUC1g .content-row-2:hover .img-wrapper-2 {
  padding: 12px;
  border: 2px dashed #ffc85b;
}
.cid-rHBb7VkcXz {
  background-color: #ffffff;
}
.cid-rHBb7VkcXz .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.6;
}
.cid-rHBb7VkcXz img {
  width: 90%;
  border-radius: 8px;
}
.cid-rHBb7VkcXz .btn {
  border-radius: 30px;
  padding: 0.7rem 2.4rem;
  margin: 0;
  position: relative;
}
.cid-rHBb7VkcXz textarea {
  min-height: 130px;
}
.cid-rHBb7VkcXz H5 {
  color: #12265a ;
}
@media (max-width: 992px) {
  .cid-rHBb7VkcXz img {
    width: 100%;
  }
  .cid-rHBb7VkcXz .map-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-rHBb7VkcXz .google-map {
  height: 95%;
  position: relative;
}
.cid-rHBb7VkcXz .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-rHBb7VkcXz .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-rHBb7VkcXz .google-map[data-state] {
  background: #e9e5dc;
}
.cid-rHBb7VkcXz .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
@media (max-width: 576px) {
  .cid-rHBb7VkcXz .col-auto {
    width: 100%;
    text-align: center;
  }
}
.cid-rHBb7VkcXz .container-fluid {
  max-width: 1200px;
}
.cid-rHBb7VkcXz svg {
  position: relative;
  left: 0;
  top: 0;
}
.cid-rHBb7VkcXz .inner-dashed-border {
  stroke: #ffffff;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.cid-rHBb7VkcXz .button-svg:hover .inner-dashed-border {
  animation-play-state: running;
  stroke: #ffffff;
}
@keyframes dashed_border_running {
  100% {
    stroke-dashoffset: -1000;
  }
}
.cid-rHBb7VkcXz rect {
  position: absolute;
  width: 95%;
}
@media (max-width: 767px) {
  .cid-rHBb7VkcXz {
    padding-top: 40px;
    padding-bottom: 16px;
  }
  .cid-rHBb7VkcXz .title {
    text-align: left;
  }
  .cid-rHBb7VkcXz .dragArea {
    padding-left: 0rem;
  }
  .cid-rHBb7VkcXz .mbr-section-title {
    text-align: left;
  }
}
@media (min-width: 767px) {
  .cid-rHBb7VkcXz {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .cid-rHBb7VkcXz .container-fluid {
    padding: 0 1.8rem;
  }
}
@media (min-width: 992px) {
  .cid-rHBb7VkcXz .dragArea {
    padding-left: 2rem;
  }
}
.cid-rHBb7VkcXz .mbr-section-title span {
  display: inline-block;
}
.cid-rHBb7VkcXz .mbr-text {
  margin-top: 0.5rem;
}
.cid-rHBb7VkcXz .svg1 {
  position: absolute;
  padding: 2px;
}
.cid-rHBb7VkcXz .svg1 rect {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}
.cid-rHBb7VkcXz .mbr-section-btn {
  margin-left: 5px;
}
.cid-rHBb7VkcXz iframe {
  border-radius: 30px;
}
.cid-rGsvPFnWfW {
  background-color: #223668;
}
.cid-rGsvPFnWfW svg {
  position: absolute;
  top: 0;
}
.cid-rGsvPFnWfW .svg-1 {
  fill: #2d4073;
}
.cid-rGsvPFnWfW .container-fluid {
  max-width: 1200px;
}
@media (max-width: 767px) {
  .cid-rGsvPFnWfW {
    padding-top: 10px;
    padding-bottom: 2px;
  }
}
@media (min-width: 767px) {
  .cid-rGsvPFnWfW {
    padding-top: 75px;
    padding-bottom: 15px;
  }
}
.cid-rGsvPFnWfW .mbr-text {
  color: #b1bee0;
}
.cid-rGsvPFnWfW a {
  text-decoration: underline;
}
.cid-rGsvPFnWfW a,
.cid-rGsvPFnWfW a:hover {
  font-weight: 400 !important;
}
